.background__image {
  height: auto;
  background: url("../images/screen1group.png") no-repeat;
  background-size: 100%; /* Современные браузеры */
}

.background__image2 {
  top: -100px;
  position: relative;
  height: inherit;
  background: url("../images/screen2background.svg") no-repeat;
  background-size: 100%; /* Современные браузеры */
}

@media screen and (max-width: 1350px) {
  .background__image {
    background-size: auto;
    background-position: top right;
  }
}