.header {
  width: 100%;
  height: 80px;
  background-color: var(--black-color);
  color: white;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    &-icon {
      height: 60px;
      padding-right: 5px;
    }
    padding-right: 35px;
  }

  &__search {
    position: relative;
    margin-right: 80px;
    & input {
      //padding: 12px 40px 12px 12px;
      padding: 12px;
      width: 400px;
      background: #FBFAFA;
      border: 1px solid #F2F2F2;
      border-radius: 9px;

      &:focus {
        outline: none;
      }
    }
    & button {
      text-indent: -999px;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
      overflow: hidden;
      width: 40px;
      padding: 0;
      margin: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
      cursor: pointer;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
    &-results {
      position: absolute;
      z-index: 2;
      padding: 12px;
      background-color: var(--black-color);
      width: 400px;
      &--hidden {
        display: none;
      }
    }
    &-item, &-recent-item {
      padding: 5px 0;
      &--hidden {
        display: none;
      }
    }
    &-recent-item {
      font-style: italic;
    }
  }

  &__phone, &__profile {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 60px;
  }

  &__profile {
    padding-right: 0;
    & button {
      background-color: inherit;
      border: none;
      overflow: hidden;
      cursor: pointer;
      & svg path {
        fill: var(--white-color);
      }
      &:hover {
        svg path {
          fill: var(--orange-color);
        }
      }
    }
  }
}