.screen7 {

  min-width: 0;
  background-color: var(--color-white-dark);

  &__title {
    padding: 40px 8%;
    text-align: center;
  }

  .card {

    &__row {

      &s {
        padding-bottom: 30px;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-attribute {
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
      }
      &-data {
        font-size: 14px;
        line-height: 30px;
        font-weight: 700;
      }
    }
    hr {
      border: none;
      color: var(--color-grey-dark);;
      background-color: var(--color-grey-dark);
      height: 1px;

      margin: 0;
    }
  }

  &__slider {
    min-width: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
  }

  .slick-track {
    display: flex;
  }

  @media screen and (max-width: 1400px){
    .slick-track {
      padding-left: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 0;
    width: 55px;
    height: 55px;
    border: 0;

    transition: 1s;
    &:hover {
      transform: translateY(-50%) scale(2);
      transition: 1s;
    }

    &.slick-disabled {
      transform: translateY(-50%);
    }
  }

  .slick-arrow.slick-next{
    right: 8%;
    background: url("../images/screen3_slider-arrow-right.svg") 0 0 / 100% repeat;
  }

  .slick-arrow.slick-prev{
    left: 8%;
    background: url("../images/screen3_slider-arrow-left.svg") 0 0 / 100% repeat;
  }

  .slick-arrow.slick-disabled {
    opacity: .1;
  }

  .slick-active {
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .screen7 {
    &__title {
      padding: 30px 2% 12px;
      h1 {
        font-size: 30px;
        line-height: 36px;
      }
    }

    &__slider {
      .card {
        width: 370px;
        padding: 20px 15px;
        box-sizing: border-box;

        &__row {
          &-attribute, &-data {
            font-size: 12px;
          }
        }
      }
    }

    &__text {
      width: auto;
      padding: 0 10px 30px;
    }

    &__slider {
      padding-bottom: 20px;
    }

    .slick-arrow {
      width: 18px;
      height: 18px;
    }

    .slick-arrow.slick-next{
      right: 2%;
      background: url("../images/screen7_slider-arrow-right-small.svg") 0 0 / 100% repeat;
    }

    .slick-arrow.slick-prev{
      left: 2%;
      background: url("../images/screen7_slider-arrow-left-small.svg") 0 0 / 100% repeat;
    }
  }
}