.screen7 {
  background-color: var(--color-white-dark);

  &__slider {
    max-width: 100em;
    margin: 0 auto;
    position: relative;
  }

  &__wrapper {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    transform: translateZ(0);
    transition: all .5s ease-out;

    .inner {
      width: fit-content;
      position: relative;
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
    }
  }

  &__nav {
    &-left, &-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: .5s;

      &:hover {
        transition: .5s;
        transform: scale(1.3) translateY(-40%);
      }
    }

    &-left {
      left: 5%;
    }

    &-right {
      right: 5%;
    }
  }

  &__slide {
    display: inline-block;
    width: 500px;
    height: 400px;
    position: relative;
    margin: 0 5em;
    &--1 {
      background-color: var(--color-pink);
      margin-left: 10em;
    }
    &--2 {
      background-color: var(--color-yellow-dark);
    }
    &--3 {
      background-color: var(--color-yellow-light);
    }
    &--4 {
      background-color: var(--color-black-neutral);
      margin-right: 10em;
    }
  }

  &__prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    label {
      transition: 1s;

      &:hover {
        transform: scale(2);
        transition: 1s;
      }
    }
  }
}