.screen1 {
  &-catalog {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px 30px;
  }
  .catalog {
    &-item {
      position: relative;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      max-width: 400px;
      border-radius: 9px;
      & img {
        transition: 0.5s;
        width: 100%;
      }
      &__footer {
        position: absolute;
        height: 45px;
        width: inherit;
        box-sizing: border-box;
        padding: 15px 30px;
        color: var(--white-color);
        background: linear-gradient(180deg, #2A2A2A 0%, #2A2A2A 100%);
        bottom: 0;
      }
      &--1 {
        grid-row: 1 / 3;
        max-width: 800px;
      }
      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.2);
        }
        .catalog-item__footer {
          color: var(--orange-color);
        }
      }
    }
  }
}