:root {
  --color-pink: #C6346E;
  --color-yellow-light: #FFD361;
  --color-yellow-dark: #EAB800;

  --color-white-neutral: #FFFFFF;
  --color-white-dark: #FAFAFA;

  --color-black-neutral: #000000;

  --color-grey: #C4C4C4;
}