<header class="header background background--header">
  <div class="header__logo">
    <img src="../images/logo1.svg" alt="logo">
  </div>
  <nav class="header__menu">
    <span class="header__menu-item"><h4><a href="#screen4">Цены</a></h4></span>
    <span class="header__menu-item"><h4><a href="#screen8">Отзывы</a></h4></span>
    <span class="header__menu-item"><h4><a href="#screen3">Галерея</a></h4></span>
    <span class="header__menu-item"><h4><a href="#screen9">Контакты</a></h4></span>
  </nav>
  <div class="header__contacts">
    <div class="header__contacts-item header__contacts-item--first"><h3>+7 499 110-63-79</h3></div>
    <div class="header__contacts-item header__contacts-item--second text text--small">Закажите обратный звонок</div>
    <div class="header__contacts-item header__contacts-item--third"><h3>info@umisky.ru</h3></div>
  </div>
</header>