<header class="header wrapper wrapper--header">
    <div class="header__logo">
        <img class="header__logo-icon" src="./images/header_logo.svg" alt="dice">
        <h1 class="header__logo-text">
            aBoard games
        </h1>
    </div>
    <div class="header__search">
        <form action="#">
            <input type="text" placeholder="Найти игру...">
            <button type="submit">search</button>
        </form>
    </div>
    <div class="header__phone">
        <div class="header__phone-icon">
            <img class="header__phone-icon" src="./images/header_phone.svg" alt="phone">
        </div>
        <h6 class="header__phone-number">+7 (800) 555-35-35</h6>
    </div>
    <div class="header__profile">
        <button class="header__profile-signin">
            {% include '../images/header_signin.svg' %}
        </button>
        <button class="header__profile-cart">
            {% include '../images/header_cart.svg' %}
        </button>
    </div>
</header>