<div class="menu wrapper">
    <div class="menu__container">
        <div class="menu__marker"></div>
        <div class="menu__element text text--bold">Каталог</div>
        <div class="menu__element text text--bold">Успей купить</div>
        <div class="menu__element text text--bold">Мероприятия</div>
        <div class="menu__element text text--bold">Контакты</div>
    </div>
</div>