<div class="modal-message">
    <div class="modal-message__layout"></div>
    <div class="modal-message__content">
        <div class="button">
            <div class="button-text">Демо-кнопочка</div>
        </div>
    </div>
</div>