<div class="screen7">
    <div class="screen7__slider">
        <div class="screen7__wrapper">
            <div class="inner">
                <div class="screen7__slide screen7__slide--1"></div>
                <div class="screen7__slide screen7__slide--2"></div>
                <div class="screen7__slide screen7__slide--3"></div>
                <div class="screen7__slide screen7__slide--4"></div>
            </div>
        </div>
        <div class="screen7__nav-left">
            <img src="../images/screen3_slider-arrow-left.svg" alt="">
        </div>
        <div class="screen7__nav-right">
            <img src="../images/screen3_slider-arrow-right.svg" alt="">
        </div>
    </div>
</div>