<div class="screen5 background background--5">
    <div class="screen5__arrow screen5__arrow--left">
        <img src="../images/screen5_arrow_left.svg" alt="">
    </div>
    <div class="screen5__title">
        <h3>Сопутствующие услуги</h3>
        <h3 class="screen5__second-row">вывоз снега, подготовка кровли к облуживанию</h3>
    </div>
    <div class="screen5__arrow screen5__arrow--right">
        <img src="../images/screen5_arrow_right.svg" alt="">
    </div>
</div>