<div class="screen2 wrapper wrapper--screen">
    <h1 class="screen-title">Успей купить</h1>
    <div class="screen2__cards">
        <div class="card">
            <div class="card__top">
                <img src="../images/card_1.png" alt="card">
            </div>
            <div class="card__bottom">
                <div class="card__bottom-description">
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_people.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            2-4
                        </div>
                    </div>
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_time.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            30-60
                        </div>
                    </div>
                    <div class="card__bottom-description-without-icon">
                        <div class="card__bottom-description-text text text--small">
                            18+
                        </div>
                    </div>
                </div>
                <div class="card__bottom-title text text--medium">
                    Warhammer 40,000: Chaos Space Marines
                </div>
                <h5 class="card__bottom-price">
                    3657 ₽
                </h5>
                <div class="card__bottom-buttons">
                    <div class="button">
                        <div class="button-text">В корзину</div>
                        <div class="button-icon">
                            {% include "../images/card_buy.svg" %}
                        </div>
                    </div>
                    <div class="button button--outlined">
                        <div class="button-text">Купить в 1 клик</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__top">
                <img src="../images/card_2.png" alt="card">
            </div>
            <div class="card__bottom">
                <div class="card__bottom-description">
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_people.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            2-4
                        </div>
                    </div>
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_time.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            30-60
                        </div>
                    </div>
                    <div class="card__bottom-description-without-icon">
                        <div class="card__bottom-description-text text text--small">
                            18+
                        </div>
                    </div>
                </div>
                <div class="card__bottom-title text" >
                    На марсе
                </div>
                <h5 class="card__bottom-price">
                    3657 ₽
                </h5>
                <div class="card__bottom-buttons">
                    <div class="button">
                        <div class="button-text">В корзину</div>
                        <div class="button-icon">
                            {% include "../images/card_buy.svg" %}
                        </div>
                    </div>
                    <div class="button button--outlined">
                        <div class="button-text">Купить в 1 клик</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__top">
                <img src="../images/card_3.png" alt="card">
            </div>
            <div class="card__bottom">
                <div class="card__bottom-description">
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_people.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            2-4
                        </div>
                    </div>
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_time.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            30-60
                        </div>
                    </div>
                    <div class="card__bottom-description-without-icon">
                        <div class="card__bottom-description-text text text--small">
                            18+
                        </div>
                    </div>
                </div>
                <div class="card__bottom-title text text--medium">
                    Broken Realms: Horrek's Dreadlance
                </div>
                <h5 class="card__bottom-price">
                    3657 ₽
                </h5>
                <div class="card__bottom-buttons">
                    <div class="button">
                        <div class="button-text">В корзину</div>
                        <div class="button-icon">
                            {% include "../images/card_buy.svg" %}
                        </div>
                    </div>
                    <div class="button button--outlined">
                        <div class="button-text">Купить в 1 клик</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__top">
                <img src="../images/card_4.png" alt="card">
            </div>
            <div class="card__bottom">
                <div class="card__bottom-description">
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_people.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            2-4
                        </div>
                    </div>
                    <div class="card__bottom-description-with-icon">
                        <div class="card__bottom-description-icon">
                            {% include "../images/card_time.svg" %}
                        </div>
                        <div class="card__bottom-description-text text text--small">
                            30-60
                        </div>
                    </div>
                    <div class="card__bottom-description-without-icon">
                        <div class="card__bottom-description-text text text--small">
                            18+
                        </div>
                    </div>
                </div>
                <div class="card__bottom-title text text--medium">
                    Таверна Красный дракон
                </div>
                <h5 class="card__bottom-price">
                    3657 ₽
                </h5>
                <div class="card__bottom-buttons">
                    <div class="button">
                        <div class="button-text">В корзину</div>
                        <div class="button-icon">
                            {% include "../images/card_buy.svg" %}
                        </div>
                    </div>
                    <div class="button button--outlined">
                        <div class="button-text">Купить в 1 клик</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>