<div class="screen3">
    <div class="screen3__background-top">
        <img src="../images/screen3_background-top.svg" alt="">
    </div>
    <div class="screen3__slider">
        <input checked type="radio" name="slider" id="slide1">
        <input checked type="radio" name="slider" id="slide2">
        <input checked type="radio" name="slider" id="slide3">
        <input checked type="radio" name="slider" id="slide4">
        <input checked type="radio" name="slider" id="slide5">
        <div class="screen3__wrapper">
            <div class="inner">
                <article>
                    <img src="../images/screen3_slider-img1.png" alt="">
                </article>
                <article>
                    <img src="../images/screen3_slider-img2.png" alt="">
                </article>
                <article>
                    <img src="../images/screen3_slider-img3.png" alt="">
                </article>
                <article>
                    <img src="../images/screen3_slider-img4.png" alt="">
                </article>
                <article>
                    <img src="../images/screen3_slider-img5.png" alt="">
                </article>
            </div>
        </div>
        <div class="screen3__prev-next-control">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
        </div>
        <div class="screen3__dot-control">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
        </div>
    </div>
    <div class="screen3__background-bottom">
        <img src="../images/screen3_background-bottom.svg" alt="">
    </div>
</div>