<div class="screen7">

    <div class="screen7__title">
        <h1> Примеры расчета стоимости
            абонентского обслуживания</h1>
    </div>

    <div class="screen7__slider">
        <div class="screen7__slide screen7__card">
            <div class="card">
                <div class="card__rows">
                    <div class="card__row">
                        <div class="card__row-attribute">АДРЕС</div>
                        <div class="card__row-data">УЛ.ПАЛИХА</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЛОЩАДЬ КРОВЛИ 700 М.КВ.</div>
                        <div class="card__row-data">700 М.КВ.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИМЕТР</div>
                        <div class="card__row-data">110 М.П.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИОД ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data"> С 1 ДЕКАБРЯ ПО 31 МАРТА.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">СТОИМОСТЬ ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data">84 000 В МЕСЯЦ.</div>
                    </div>
                    <hr>
                </div>
                <div class="text text--medium">
                    Абонентское обслуживание включает в себя:
                </div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Очистку периметра кровли 1,5 метра от края не ограниченное к-во раз в месяц</li>
                        <li>Очистку всей площади кровли не ограниченное раз в месяц</li>
                        <li>Сбор сброшенного с крыш снега в гурты</li>
                        <li>Монтаж страховочного троса – 110 п. м.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="screen7__slide screen7__card">
            <div class="card">
                <div class="card__rows">
                    <div class="card__row">
                        <div class="card__row-attribute">АДРЕС</div>
                        <div class="card__row-data">УЛ.ПАЛИХА</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЛОЩАДЬ КРОВЛИ 700 М.КВ.</div>
                        <div class="card__row-data">700 М.КВ.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИМЕТР</div>
                        <div class="card__row-data">110 М.П.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИОД ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data"> С 1 ДЕКАБРЯ ПО 31 МАРТА.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">СТОИМОСТЬ ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data">84 000 В МЕСЯЦ.</div>
                    </div>
                    <hr>
                </div>
                <div class="text text--medium">
                    Абонентское обслуживание включает в себя:
                </div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Очистку периметра кровли 1,5 метра от края не ограниченное к-во раз в месяц</li>
                        <li>Очистку всей площади кровли не ограниченное раз в месяц</li>
                        <li>Сбор сброшенного с крыш снега в гурты</li>
                        <li>Монтаж страховочного троса – 110 п. м.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="screen7__slide screen7__card">
            <div class="card">
                <div class="card__rows">
                    <div class="card__row">
                        <div class="card__row-attribute">АДРЕС</div>
                        <div class="card__row-data">УЛ.ПАЛИХА</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЛОЩАДЬ КРОВЛИ 700 М.КВ.</div>
                        <div class="card__row-data">700 М.КВ.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИМЕТР</div>
                        <div class="card__row-data">110 М.П.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИОД ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data"> С 1 ДЕКАБРЯ ПО 31 МАРТА.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">СТОИМОСТЬ ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data">84 000 В МЕСЯЦ.</div>
                    </div>
                    <hr>
                </div>
                <div class="text text--medium">
                    Абонентское обслуживание включает в себя:
                </div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Очистку периметра кровли 1,5 метра от края не ограниченное к-во раз в месяц</li>
                        <li>Очистку всей площади кровли не ограниченное раз в месяц</li>
                        <li>Сбор сброшенного с крыш снега в гурты</li>
                        <li>Монтаж страховочного троса – 110 п. м.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="screen7__slide screen7__card">
            <div class="card">
                <div class="card__rows">
                    <div class="card__row">
                        <div class="card__row-attribute">АДРЕС</div>
                        <div class="card__row-data">УЛ.ПАЛИХА</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЛОЩАДЬ КРОВЛИ 700 М.КВ.</div>
                        <div class="card__row-data">700 М.КВ.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИМЕТР</div>
                        <div class="card__row-data">110 М.П.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">ПЕРИОД ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data"> С 1 ДЕКАБРЯ ПО 31 МАРТА.</div>
                    </div>
                    <hr>
                    <div class="card__row">
                        <div class="card__row-attribute">СТОИМОСТЬ ОБСЛУЖИВАНИЯ</div>
                        <div class="card__row-data">84 000 В МЕСЯЦ.</div>
                    </div>
                    <hr>
                </div>
                <div class="text text--medium">
                    Абонентское обслуживание включает в себя:
                </div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Очистку периметра кровли 1,5 метра от края не ограниченное к-во раз в месяц</li>
                        <li>Очистку всей площади кровли не ограниченное раз в месяц</li>
                        <li>Сбор сброшенного с крыш снега в гурты</li>
                        <li>Монтаж страховочного троса – 110 п. м.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text screen7__text">
        Стоимость месяца абонентского обслуживания зависит от того какие месяцы обслуживаются
        и их количества, площади кровли, соотношения длины периметра и площади кровли и т. п.
    </div>
</div>