<div class="background__image2">
    <div class="screen2 background background--2">
        <div class="screen2__text text">
            По кнопке снизу мы можете перейти на основной сайт и ознакомится с другими
            услугами нашей компании, отзывами и фотографиями выполненных работ
        </div>

        <div class="screen2__button">
            <div class="button">
                Перейти на основной сайт
            </div>
        </div>

        <div class="screen2__title">
            <h1>
                Варианты обслуживания
            </h1>
        </div>

        <div class="screen2__cards">
            <div class="card card--1">
                <h4>Разовые услуги </br>(оценивается каждая чистка)</h4>
                <div class="text">Оплата только за выполненные работы</div>
                <div class="text">В договоре прописывается стоимость одной очистки снега, оплата по факту пропорционально к-ву выходов</div>
                <div class="text">Работы выполняются только по вызову заказчика</div>
                <div class="text text--medium">Преимущества:</div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Экономия средств в случае безснежной зимы.</li>
                    </ul>
                </div>
                <div class="text text--medium">Недостатки:</div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Трудно спланировать бюджет, большие расходы в случае снежной зимы</li>
                        <li>Заказчик сам отслеживает состояние кровли и погодные условия</li>
                        <li>Заказчик сам несет ответственность за несвоевременную очистку кровли (Штрафы ОАТИ, падение снега с кровли)</li>
                        <li>Как правило крыша очищается в среднем в 3–4  раз реже чем при абонентском обслуживании, что ведет к повреждениям кровли, протечкам, падениям наледи на автомобили)</li>
                        <li>Время реагирование на заявки до 2-х суток.</li>
                        <li>В случае увеличения снежного покрова более 15 см на 50 % за каждые последующие 15 см. снега стоимость очистки увеличивается</li>
                    </ul>
                </div>
                <h3 class="card__price">От 40 рублей за м.кв за одну чистку</h3>
                <h5>Минимальная стоимость вызова </br>12 000 рублей</h5>
            </div>
            <div class="card card--2">
                <h4>Абонентское обслуживание всей площади кровли (фиксированный бюджет)</h4>
                <div class="text">В договоре прописывается стоимость контракта на весь зимний сезон, оплата производится в конце каждого календарного месяца</div>
                <div class="text text--medium">Преимущества:</div>
                <div class="text">
                    <ul class="card__ul">
                        <li>Не ограничиваем к-во выходов.</li>
                        <li>Можно точно спланировать бюджет на весь зимний период. Фиксированная сумму договора, которая не увеличится в случае обильных снегопадов.</li>
                        <li>Наши сотрудники отслеживают состояние кровли и выходят на объект без вызова заказчика.  в течение 12 часов после завершения снегопада.</li>
                        <li>Несем ответственность за неблагоприятные последствия несвоевременной очистки (Падение снега, штрафы ОАТИ)</li>
                        <li>Количество выпавшего снега наша проблема.</li>
                    </ul>
                </div>
                <div class="text text--medium">Недостатки:</div>
                <div class="text">
                    <ul class="card__ul">
                        <li>В случае небольшого к-ва снега средства не экономятся.</li>
                    </ul>
                </div>
                <h3 class="card__price">От 90 рублей за м.кв. в календарный месяц</h3>
                <h5>Минимальная стоимость обслуживания </br> в месяц 40 000 рублей за одну кровлю</h5>
            </div>
        </div>
    </div>
</div>