<div class="screen9 background background--9" id="screen9">

    <h1 class="screen9__title">КОНТАКТЫ</h1>
    <div class="screen9__map-wrapper">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A86cdde5333d954cd8c92b6bf21de4cb30d19efecabec53abd3c739d5c2570b9a&amp;width=100%25&amp;height=452&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

    <div class="screen9__button">
        <div class="button">
            <h4>Вызовите специалиста бесплатно</h4>
        </div>
    </div>

    <div class="screen9__contacts">
        <div class="screen9__whatsapp">
            <div class="contact">
                <div class="contact__title text text--small">
                    Whatsapp
                </div>
                <div class="contact__body">
                    <div class="contact__logo">
                        <img src="../images/screen9_whatsapp.svg" alt="">
                    </div>
                    <div class="contact__text">
                        <h3>+7 499 110-63-79</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen9__phone">
            <div class="contact">
                <div class="contact__title text text--small">
                    Телефон
                </div>
                <div class="contact__body">
                    <div class="contact__logo">
                        <img src="../images/screen9_phone.svg" alt="">
                    </div>
                    <div class="contact__text">
                        <h3>+7 499 110-63-79</h3>
                    </div>
                </div>
                <div class="text text--small contact__subtext">
                    Закажите обратный звонок
                </div>
            </div>
        </div>
        <div class="screen9__email">
            <div class="contact">
                <div class="contact__title text text--small">
                    Email
                </div>
                <div class="contact__body">
                    <div class="contact__logo">
                        <img src="../images/screen9_email.svg" alt="">
                    </div>
                    <div class="contact__text">
                        <h3>info@umisky.ru</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>