<div class="screen1 wrapper wrapper--screen">
    <h1 class="screen-title">Каталог</h1>
    <div class="screen1-catalog">
        <div class="catalog-item catalog-item--1">
            <img src="../images/screen1_pic1.png" alt="pic1">
            <div class="catalog-item__footer">Настольные игры</div>
        </div>
        <div class="catalog-item catalog-item--2">
            <img src="../images/screen1_pic2.png" alt="pic2">
            <div class="catalog-item__footer">Варгеймы</div>
        </div>
        <div class="catalog-item catalog-item--3">
            <img src="../images/screen1_pic3.png" alt="pic3">
            <div class="catalog-item__footer">Краски</div>
        </div>
        <div class="catalog-item catalog-item--4">
            <img src="../images/screen1_pic4.png" alt="pic4">
            <div class="catalog-item__footer">Magic:the Gathering</div>
        </div>
        <div class="catalog-item catalog-item--5">
            <img src="../images/screen1_pic5.png" alt="pic5">
            <div class="catalog-item__footer">Весь каталог</div>
        </div>
    </div>
</div>