<div class="screen1 background--1">
    <div class="screen1__title-and-subtitle">
        <h1 class="screen1__title">
            ОЧИСТКА СНЕГА С КРОВЕЛЬ
        </h1>
        <h2 class="screen1__subtitle">
            разовое и абонентское обслуживание
        </h2>
    </div>
    <div class="screen1__button">
        <div class="button button--open-modal">
            <a href="#openModal">
                Вызовите специалиста бесплатно
            </a>
        </div>
    </div>
    <div class="screen1__text text">
        Наш менеджер проконсультирует, поможет
        подобрать вариант обслуживания оптимальный именно для вашей кровли.
    </div>
    <div class="screen1__background-bottom">
        <img src="../images/screen1_snow.svg" alt="">
    </div>
</div>