<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aBoard games</title>
    <link rel="stylesheet" href="styles/style.scss">
</head>
<body>
    {% include 'components/_header.twig' %}
    {% include 'components/_screen1.twig' %}
    {% include 'components/_screen2.twig' %}
    {% include 'components/_footer.twig' %}
</body>
</html>